<nav>
    <div class="right">
        <button class="profile-btn">
            <img src="/images/Profile.svg" />
        </button>
        <button class="menu-btn" @onclick=ToggleMobileMenu>
            <MenuIcon />
        </button>
    </div>
    <div class="nav-menu @(showMobileMenu ? "show" : "")">
        <SecondaryLogo />
        <ul>
            <li class="@(Page.ToLower() == "/demo" ? "active" : "")"><a href="/demo" @onclick='() => PageChanged("demo")'><BubbleTail />Demo</a></li>
            <li class="@(Page.ToLower() == "/" || Page == "/domain" ? "active" : "")"><a href="/" @onclick='() => PageChanged("/")'><BubbleTail />Domain</a></li>
            <li class="@(Page.ToLower() == "/install" ? "active" : "")"><a href="/install" @onclick='() => PageChanged("install")'><BubbleTail />Installation</a></li>
        </ul>
    </div>
    <div class="nav-mask">
        <img src="/images/NavShape.png" />
    </div>
</nav>
<div class="nav-overlay @(showOverlay ? "show" : "")" @onclick=ToggleMobileMenu></div>

@code {
    [Parameter] public string Page { get; set; } = "/";
    [Parameter] public EventCallback<string> OnPageChanged { get; set; }

    bool showMobileMenu;
    bool showOverlay;

    async Task ToggleMobileMenu()
    {
        showMobileMenu = !showMobileMenu;

        if (showMobileMenu)
        {
            showOverlay = true;
        } else
        {
            await Task.Delay(1500);
            showOverlay = false;
        }
    }

    void PageChanged(string page)
    {
        Page = page;
        OnPageChanged.InvokeAsync(page);
        ToggleMobileMenu();
    }
}